<nav>
  <a href="{{ site.url }}/archive/">Archive</a>
  <a href="#" id="toggleMode">
    <i id="modeIcon" class="fas fa-moon"></i>
  </a>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const toggleButton = document.getElementById('toggleMode');
    const modeIcon = document.getElementById('modeIcon');
    const body = document.body;

    // Set initial mode based on local storage
    if (localStorage.getItem('theme') === 'dark') {
      body.classList.add('dark-mode');
      modeIcon.classList.replace('fa-moon', 'fa-sun');
    } else {
      body.classList.add('light-mode');
      modeIcon.classList.replace('fa-sun', 'fa-moon');
    }

    // Toggle mode and save preference
    toggleButton.addEventListener('click', function(event) {
      event.preventDefault();
      if (body.classList.contains('light-mode')) {
        body.classList.replace('light-mode', 'dark-mode');
        modeIcon.classList.replace('fa-moon', 'fa-sun');
        localStorage.setItem('theme', 'dark');
      } else {
        body.classList.replace('dark-mode', 'light-mode');
        modeIcon.classList.replace('fa-sun', 'fa-moon');
        localStorage.setItem('theme', 'light');
      }
    });
  });
</script>
