---
layout: default
---

{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
  {% assign read-time = site.var_less_than_a_minute_read %}
{% else %}
  {% assign read-time = minutes | append: "&nbsp;" | append: site.var_min_read %}
{% endif %}

<article>
  <span class="meta">
    published on: {{ page.date | date: "%b %-d, %Y" | downcase }}
    {% if page.update_date %}
        • updated on: {{ page.update_date | date: "%b %-d, %Y" | downcase }}
    {% endif %}
    • {{ read-time }}
  </span>

	<h1>{{ page.title }}</h1>
		{{ content }}
  {% if site.display-author-post-page %}
    {% if page.author.name %}
      <small><em>{{ site.var_guest_post_by }}: {{ page.author.name }} {{ page.author.info }}</em></small>
    {% else %}
      {% if site.author.name %}
        <small><em>{{ site.var_post_by }}: {{ site.author.name }} {{ site.author.info }}</em></small>
      {% endif %}
    {% endif %}
  {% endif %}
</article>

{% if site.display-next-prev-post and page.previous.url or site.display-next-prev-post and page.next.url %}
<div class="pagination clearfix">
  <div class="left">
    {% if page.next.url %}
      <a href="{{ page.next.url | prepend: site.url }}">‹ {{ site.var_next_post }}</a>
    {% else %}
      <span class="disabled">‹ {{ site.var_next_post }}</span>
    {% endif %}
  </div>
  <div class="right">
    {% if page.previous.url %}
      <a href="{{ page.previous.url | prepend: site.url }}">{{ site.var_previous_post }} ›</a>
    {% else %}
      <span class="disabled">{{ site.var_previous_post }} ›</span>
    {% endif %}
  </div>
</div>
{% endif %}